__pycache__/
env/
!.env.local
*.ipynb
*/.idea/**/**
*.idea/**/**
.idea/**/**
node_modules/
.idea/

.env.secret
.DS_Store
ouput/
output
yarn.lock
*.zip
testImage/
env/
spotify-mosaic-*
yarn.lock
.env.local
bulid.zip
app.py